<div class=" animated fadeIn cleareye">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="cleareye-box-wrapper">
                    <div class="cleareye-box-wrapper-content">
                        <div class="hd">
                            <h2>Upload Document</h2>
                        </div>
                        <div class="upload-content">
                            <img src="assets/img/cloud.png" alt="Select File">
                            <p>Drag & Drop a file here<br>or<br>Click here to Upload</p>
                        </div>
                        <div class="button-wrap">
                            <button type="button" class="btn btn-primary">PROCESS</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cleareye-box-wrapper">
                    <div class="cleareye-box-wrapper-content">
                        <div class="hd">
                            <h2>Document View</h2>
                        </div>
                        <div class="scroll-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui nibh, ullamcorper at
                                purus a, dapibus pulvinar quam. Nam augue sem, accumsan nec cursus ut, semper ut risus.
                                Aliquam ornare vehicula ligula, id tristique lacus ultricies quis. Proin nec elementum
                                urna. Aliquam erat volutpat. Sed scelerisque bibendum tellus at auctor. Fusce
                                ullamcorper dapibus finibus. Morbi vitae lectus dolor. Proin condimentum fermentum
                                magna, in cursus dui. Integer pretium ipsum est, in vestibulum mauris tincidunt in.</p>

                                <p>Donec tincidunt, ligula nec pulvinar tincidunt, velit metus tempor velit, ac vestibulum
                                ex eros quis nisl. Proin luctus velit id rhoncus ultricies. Sed vitae bibendum felis.
                                Duis laoreet ligula quis est consequat eleifend. Aenean viverra consectetur tristique.
                                Etiam bibendum ex interdum turpis molestie euismod. Nullam in est porttitor, fringilla
                                elit eu, posuere purus. Ut mollis sem libero, at eleifend dolor consequat nec. Nunc eu
                                pharetra eros, at varius enim.</p>
                        </div>
                        <!-- <div class="preview-content no-preview">
                                      <p>No Preview</p>
                                </div> -->
                        <div class="button-wrap">
                            <!-- <button type="button" class="btn btn-primary btn-disabled">IDENTIFY ENTITY</button> -->
                            <button type="button" class="btn btn-primary">IDENTIFY ENTITY</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>