// Here you can add other styles
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.sidebar{ background-color: #5d5d5d;}
.sidebar .nav-link.active .nav-icon, .sidebar .nav-link .nav-icon {
    color: #a5a4bf;
}

.app-header .navbar-nav{ padding-right: 22px;
    .nav-item{
        font-size: 18px;
        color:#5f5b5b;
    }
}
.sidebar .nav-link:hover  .nav-icon {
    color: #a5a4bf;
}
.sidebar .nav-link{
    position: relative;
    &:before{
        content:'';
        width:5px;
        position: absolute;
        height: 100%;
        left:0px;
        top:0px;
        background-color: #4ad991;
        opacity: 0;
    }
}
.sidebar .nav-link:hover{
    background-color: #545454;
    &:before{ 
        opacity: 1;
    }
}
.sidebar .nav, .sidebar .sidebar-nav { width: 280px;}
.app-header .navbar-brand { width: 280px; background-color: #005b4c;}
@media (min-width: 992px) {
.sidebar-fixed .sidebar {
    position: fixed;
    z-index: 1019;
    width: 280px;
    height: 100vh;
}
html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {margin-left: 280px;}
}
html:not([dir="rtl"]) .sidebar {
    margin-left: -280px;
}

.cleareye{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
    width:100%;
    height:calc(100vh - 105px)
}
.flexcenter {
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    
}
.main .container-fluid {
    padding: 0 45px;
}
.cleareye{
    padding-top: 80px;
    &-box-wrapper{
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
        padding: 0px 45px 30px 45px;
        
        &-content{
            overflow: hidden;
            height: 600px;
            position: relative;
            .hd{
                height: 65px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-end;
                align-content: flex-end;
                border-bottom:1px solid #f1f1f3;
                box-shadow: 0px 3px 18px 2px rgba(0,0,0,0.05);
                h2{
                    font-weight: 600;
                    color: #4d4f5c;
                    font-size:20px;
                    padding-bottom: 15px;
                    margin-bottom: 0px;
                }
            }
            .upload-content{
                position: absolute;
                width: 100%;
                top:65px;
                left:0px;
                height: calc(100% - 143px);
                @extend .flexcenter;
                flex-direction: column;
                img {
                    width:90px;
                }
                p{ display: block; text-align: center;color: #afb0b6; padding-top: 15px;}
            }
            .uploaded-content{
                position: absolute;
                width: 100%;
                top:65px;
                left:0px;
                height: calc(100% - 143px);
                @extend .flexcenter;
                flex-direction: column;
                img {
                    width:90px;
                }
                p{ display: block; text-align: center;color: #afb0b6; padding-top: 15px;}
            }

            .scroll-content{ position: absolute;
                width: 100%;
                top:65px;
                left:0px;
                overflow: hidden;
                border-bottom:1px solid #f1f1f3;
                    box-shadow: 0px 3px 18px 2px rgba(0,0,0,0.05);
                height: calc(100% - 143px);
                padding-top: 35px; padding-bottom: 35px;
                
                
                p{ display: block; line-height: 24px;  color: #4d4f5c;}}
            .preview-content{
                position: absolute;
                width: 100%;
                top:65px;
                left:0px;
                height: calc(100% - 143px);
                @extend .flexcenter;
                flex-direction: column;
                p{ display: block;  font-size:13px;color: #000;}
                &.no-preview {
                    border-bottom:1px solid #f1f1f3;
                    box-shadow: 0px 3px 18px 2px rgba(0,0,0,0.05);
                    p{
                        font-size: 23px;
                    }
                }
            }
            .button-wrap{
              
                position: absolute;
                width: 100%;
                bottom:0px;
                left:0px;
                padding-top: 20px;
                height:67px;
            }
        }

    }
}
.btn-primary{
    background-color: #25ae88;
    color: #fff; 
    padding: 0.575rem 0.75rem;
    min-width: 150px;
    font-size: 16px;
    border:none;
    :hover{
        box-shadow: none;
    }

}
.btn-disabled{ background-color: #b4b4c6;}
.btn-upload{ background-color: transparent; 
    background: url('../assets/img/cloud.png') no-repeat left center; 
    background-size: 68px; color:#a6a7ad; padding-left: 83px; font-size: 15px;
    &:hover {
        background-color: transparent;
    }
}
.cleareye-box-wrapper-content .hd.entity{ padding-left: 92px;box-shadow:none}
.entity-scroll{box-shadow: none!important}
.entity-box{
    @extend .flexcenter;
    align-items: flex-start;
    & .entity-count{
        width: 92px;
    }
    & .entity-content {
        width: calc(100% - 92px)
    }
}